In [1]:
import psycopg2
import sqlalchemy
import simplejson

In [2]:
import pandas

In [3]:
with open("/users/kevin/.secrets/db1_test.json.nogit") as fh:
    creds = simplejson.loads(fh.read())

In [4]:
creds

{'db_host': 'db1-test.cbrmdfba3xqe.us-west-2.rds.amazonaws.com',
 'db_name': 'db1_test',
 'db_password': 'testsqldatabase',
 'db_port': '5432',
 'db_username': 'kevinkupiec'}

In [5]:
connect_to_db = 'postgresql+psycopg2://' + \
                creds['db_username'] + ':' + creds['db_password'] + '@' + \
                creds['db_host'] + ':' + creds['db_port'] + '/' + creds['db_name'];

In [6]:
con = sqlalchemy.create_engine(connect_to_db, client_encoding='utf8')

In [7]:
x = con.execute("""SELECT * FROM us_unemployment_2012""")

In [8]:
x

In [ ]:
db_username = "kevinkupiec"
db_password = "testsqldatabase"
db_name = "db1_test"
db_endpoint = "db1-test.cbrmdfba3xqe.us-west-2.rds.amazonaws.com"

In [ ]:
conn = psycopg2.connect(database='db', user='db_user', password="db_passpw",
        host='xxxxx.rds.amazonaws.com', port='5432', sslmode='verify-full',
        connect_timeout=10, sslrootcert = 'rds-combined-ca-bundle.pem')

In [ ]:
conn = psycopg2.connect(dbname=db_name, user=db_username, password=db_password, host=db_endpoint)

In [ ]:
conn.execute("""SELECT * FROM us_unemployment_2012""")

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute("""SELECT * FROM us_unemployment_2012""")

In [ ]:
cur.fetchone()

In [ ]:
cur.fetch()

In [ ]:
cur.query("us_unemployment_2012").first()

In [ ]:
x = 10

In [ ]:
%qtconsole

In [ ]:
y

In [14]:
metadata = sqlalchemy.MetaData()

In [ ]:
metadata = 1

In [9]:

# Helper function for returning dataframes from sql queries
def get_dataframe(query):
    return pandas.read_sql_query(query, con)

In [10]:
get_dataframe("""SELECT * FROM us_unemployment_2012""")

   state  unemployment
0     AL           7.1
1     AK           6.8
2     AZ           8.1
3     AR           7.2
4     CA          10.1
5     CO           7.7
6     CT           8.4
7     DE           7.1
8     FL           8.2
9     GA           8.8
10    HI           5.4
11    ID           6.6
12    IL           8.8
13    IN           8.4
14    IA           5.1
15    KS           5.6
16    KY           8.1
17    LA           5.9
18    ME           7.2
19    MD           6.8
20    MA           6.7
21    MI           9.1
22    MN           5.6
23    MS           9.1
24    MO           6.7
25    MT           5.8
26    NE           3.9
27    NV          10.3
28    NH           5.7
29    NJ           9.6
30    NM           6.8
31    NY           8.4
32    NC           9.4
33    ND           3.2
34    OH           6.9
35    OK           5.2
36    OR           8.5
37    PA           8.0
38    RI          10.1
39    SC           8.8
40    SD           4.4
41    TN           7.8
42    TX           6.4
43    UT           5.5
44    VT           5.0
45    VA           5.8
46    WA           7.8
47    WV           7.5
48    WI           6.8
49    WY           5.1
50    DC           0.0
51    PR           0.0

In [15]:
us_unemployment_2012 = sqlalchemy.Table('us_unemployment_2012', metadata, autoload=True, autoload_with=con)
[c for c in us_unemployment_2012.columns]

[Column('state', VARCHAR(length=2), table=<us_unemployment_2012>, nullable=False),
 Column('unemployment', NUMERIC(), table=<us_unemployment_2012>, nullable=False)]

In [20]:
from sqlalchemy import select, Table, Column, Integer, String

In [12]:
x = us_unemployment_2012.select().where(us_unemployment_2012.c.state == 'AL')

NameError: name 'us_unemployment_2012' is not defined

In [ ]:
con.execute(x).fetchall()

In [16]:
type(us_unemployment_2012)

sqlalchemy.sql.schema.Table

In [17]:
metadata

MetaData(bind=None)

In [21]:
user = Table('user', metadata,
    Column('user_id', Integer, primary_key=True),
    Column('user_name', String(16), nullable=False),
    Column('email_address', String(60)),
    Column('password', String(20), nullable=False)
)

In [22]:
metadata

MetaData(bind=None)

In [24]:
print(metadata)

MetaData(bind=None)

In [25]:
us_unemployment_2012

Table('us_unemployment_2012', MetaData(bind=None), Column('state', VARCHAR(length=2), table=<us_unemployment_2012>, nullable=False), Column('unemployment', NUMERIC(), table=<us_unemployment_2012>, nullable=False), schema=None)

In [26]:
us_unemployment_2012.metadata

MetaData(bind=None)

In [29]:
metadata.tables.keys()

dict_keys(['us_unemployment_2012', 'user'])

In [30]:
from sqlalchemy.orm import sessionmaker

In [32]:
Session = sessionmaker(bind=con)

In [33]:
type(Session)

sqlalchemy.orm.session.sessionmaker

In [34]:
session = Session()

In [35]:
type(session)

sqlalchemy.orm.session.Session

In [36]:
help(Session)

Help on sessionmaker in module sqlalchemy.orm.session object:

class sessionmaker(_SessionClassMethods)
 |  A configurable :class:`.Session` factory.
 |
 |  The :class:`.sessionmaker` factory generates new
 |  :class:`.Session` objects when called, creating them given
 |  the configurational arguments established here.
 |
 |  e.g.::
 |
 |      # global scope
 |      Session = sessionmaker(autoflush=False)
 |
 |      # later, in a local scope, create and use a session:
 |      sess = Session()
 |
 |  Any keyword arguments sent to the constructor itself will override the
 |  "configured" keywords::
 |
 |      Session = sessionmaker()
 |
 |      # bind an individual session to a connection
 |      sess = Session(bind=connection)
 |
 |  The class also includes a method :meth:`.configure`, which can
 |  be used to specify additional keyword arguments to the factory, which
 |  will take effect for subsequent :class:`.Session` objects generated.
 |  This is usually used to associate one or more :class:`.Engine` objects
 |  with an existing :class:`.sessionmaker` factory before it is first
 |  used::
 |
 |      # application starts
 |      Session = sessionmaker()
 |
 |      # ... later
 |      engine = create_engine('sqlite:///foo.db')
 |      Session.configure(bind=engine)
 |
 |      sess = Session()
 |
 |  .. seealso:
 |
 |      :ref:`session_getting` - introductory text on creating
 |      sessions using :class:`.sessionmaker`.
 |
 |  Method resolution order:
 |      sessionmaker
 |      _SessionClassMethods
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, **local_kw)
 |      Produce a new :class:`.Session` object using the configuration
 |      established in this :class:`.sessionmaker`.
 |
 |      In Python, the ``__call__`` method is invoked on an object when
 |      it is "called" in the same way as a function::
 |
 |          Session = sessionmaker()
 |          session = Session()  # invokes sessionmaker.__call__()
 |
 |  __init__(self, bind=None, class_=<class 'sqlalchemy.orm.session.Session'>, autoflush=True, autocommit=False, expire_on_commit=True, info=None, **kw)
 |      Construct a new :class:`.sessionmaker`.
 |
 |      All arguments here except for ``class_`` correspond to arguments
 |      accepted by :class:`.Session` directly.  See the
 |      :meth:`.Session.__init__` docstring for more details on parameters.
 |
 |      :param bind: a :class:`.Engine` or other :class:`.Connectable` with
 |       which newly created :class:`.Session` objects will be associated.
 |      :param class_: class to use in order to create new :class:`.Session`
 |       objects.  Defaults to :class:`.Session`.
 |      :param autoflush: The autoflush setting to use with newly created
 |       :class:`.Session` objects.
 |      :param autocommit: The autocommit setting to use with newly created
 |       :class:`.Session` objects.
 |      :param expire_on_commit=True: the expire_on_commit setting to use
 |       with newly created :class:`.Session` objects.
 |      :param info: optional dictionary of information that will be available
 |       via :attr:`.Session.info`.  Note this dictionary is *updated*, not
 |       replaced, when the ``info`` parameter is specified to the specific
 |       :class:`.Session` construction operation.
 |
 |       .. versionadded:: 0.9.0
 |
 |      :param \**kw: all other keyword arguments are passed to the
 |       constructor of newly created :class:`.Session` objects.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  configure(self, **new_kw)
 |      (Re)configure the arguments for this sessionmaker.
 |
 |      e.g.::
 |
 |          Session = sessionmaker()
 |
 |          Session.configure(bind=create_engine('sqlite://'))
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from _SessionClassMethods:
 |
 |  close_all() from builtins.type
 |      Close *all* sessions in memory.
 |
 |  identity_key(orm_util, *args, **kwargs) from builtins.type
 |      Return an identity key.
 |
 |      This is an alias of :func:`.util.identity_key`.
 |
 |  object_session(instance) from builtins.type
 |      Return the :class:`.Session` to which an object belongs.
 |
 |      This is an alias of :func:`.object_session`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _SessionClassMethods:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [ ]:
adding for fun